<div id="sessions-loader">
    <div class="progressbar-fliplearning">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="submissions" class="fliplearning">
    <v-main>
        <pageheader :pagetitle="strings.title" :helptitle="strings.helplabel" :exitbutton="strings.exitbutton"
                    :helpcontents="get_help_content()" :groups="groups" :courseid="courseid" :userid="userid"></pageheader>
        <v-container pa-8>
            <v-row v-if="loading">
                <span class="mb-1 mt-5 body-1" v-text="strings.graph_generating"></span>
                <v-progress-linear indeterminate color="cyan"></v-progress-linear>
            </v-row>
            <div v-else>
                <v-alert v-if="errors.length > 0" dense outlined type="error" v-text="strings.api_error_network"></v-alert>

                <pagination
                        :pages="pages" :name="strings.pagination_name" :nameseparator="strings.pagination_separator"
                        @changepage="update_interactions" :title="strings.pagination_title"></pagination>

                <v-row>
                    <v-col sm="12">
                        <chart :container="'assignsubs'" :chart="build_chart_submissions()"></chart>
                    </v-col>
                </v-row>

                <v-row>
                    <template v-for="(item, index, key) in access.types">
                        <v-checkbox
                                v-model="item.show"
                                :label="item.name"
                                class="mr-2 checkbox-filter"
                                @change="generate_access_content_data"
                        ></v-checkbox>
                    </template>
                </v-row>

                <v-row>
                    <v-col sm="12">
                        <chart :container="'access_content'" :chart="build_chart_access_content()"></chart>
                    </v-col>
                </v-row>





                <v-row justify="center">
                    <v-col sm="12">
                        <emailform
                                :dialog="dialog"
                                :selected_users="selected_users"
                                :strings="email_strings"
                                :moduleid="moduleid"
                                :modulename="modulename"
                                :courseid="courseid"
                                :userid="userid"
                                @update_dialog="update_dialog"
                        ></emailform>
                    </v-col>

                </v-row>

            </div>
        </v-container>
    </v-main>
</v-app>