<div id="logs-loader">
    <div class="progressbar-fliplearning">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="logs" class="fliplearning">
    <v-main>
        <pageheader
                :pagetitle="strings.title"
                :helptitle="strings.helpLabel"
                :exitbutton="strings.exitButton"
                :helpcontents="getHelpContent()"
                :courseid="courseId"
                :userid="userId"
                :section="'teacher_download_logs'"
        ></pageheader>

        <v-container pa-8>

            <v-row>
                <v-col cols="12">
                    <v-card elevation="2">
                        <v-card-title class="justify-center" v-text="strings.logsDatesRange"></v-card-title>
                        <v-card-text class="text-center">

                            <v-row align="center" justify="center">
                                <v-col cols="8" >
                                    <v-date-picker
                                            no-title
                                            v-model="dates"
                                            landscape="false"
                                            full-width
                                            range
                                            show-adjacent-months
                                            color="#118AB2"
                                    ></v-date-picker>
                                </v-col>
                                <v-col cols="12" >
                                    <span v-text="dateRangeText"></span>
                                </v-col>

                            </v-row>

                            <v-row class="justify-center" >
                                <v-col cols="8" sm="8" md="4">
                                    <v-card elevation="0">
                                        <v-btn
                                            :loading="loadingBtnMoodleLogs"
                                            :disabled="loadingBtnMoodleLogs"
                                            @click="getFile('moodle')"
                                            class="white--text"
                                            color="#118AB2"
                                            v-text="strings.moodleLogsHelpTitle"
                                        >
                                        </v-btn>
                                        <v-card-text>
                                            <span class="caption" @click="openChartHelp(moodle_logs)">
                                                <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                                <span v-text="strings.moodleLogsAbout"></span>
                                            </span>
                                        </v-card-text>
                                    </v-card>
                                </v-col>

                                <v-col cols="8" sm="8" md="4">
                                    <v-card elevation="0">
                                        <v-btn
                                            :loading="loadingBtnFliplearningLogs"
                                            :disabled="loadingBtnFliplearningLogs"
                                            @click="getFile('fliplearning')"
                                            class="white--text"
                                            color="#118AB2"
                                            v-text="strings.fliplearningLogsHelpTitle"
                                        >
                                        </v-btn>
                                        <v-card-text>
                                            <span class="caption" @click="openChartHelp(fliplearning_logs)">
                                                <v-icon small v-text="'mdi-help-circle-outline'"></v-icon>
                                                <span v-text="strings.fliplearningLogsAbout"></span>
                                            </span>
                                        </v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>

                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>

            <v-row>
                <v-dialog v-model="helpDialog" max-width="700px">
                    <v-card>
                        <v-card-title class="headline lighten-2 d-flex justify-center help-dialog-title">
                            <span class="help-modal-title mr-2" v-text="helpTitle"></span>
                            <v-icon color="white" v-text="'help_outline'"></v-icon>
                        </v-card-title>
                        <v-card-text
                                class="pt-4 pb-4 pr-8 pl-8 help-dialog-content"
                                v-text="helpDescription">
                        </v-card-text>

                        <v-card-text>
                            <v-data-table
                                    :headers="helpTableHeaders"
                                    :items="helpTableItems"
                                    :items-per-page="30"
                                    class="elevation-2"
                                    hide-default-footer
                            >
                            </v-data-table>
                        </v-card-text>

                        <v-divider class="ma-0"></v-divider>
                        <v-card-actions class="d-flex justify-center help-dialog-footer">
                            <v-btn
                                    @click="helpDialog=false"
                                    class="ma-0 fml-btn-secondary"
                                    v-text="strings.exitButton"
                            >
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-row>

            <v-row class="justify-center">
                <span v-text="getTimezone()"></span>
            </v-row>
        </v-container>
    </v-main>
</v-app>