<div id="sessions-loader">
    <div class="progressbar-fliplearning">
        <div class="indeterminate"></div>
    </div>
</div>

<v-app id="work_sessions" class="fliplearning">
    <v-main>
        <pageheader :pagetitle="strings.title" :helptitle="strings.helplabel" :exitbutton="strings.exitbutton"
                    :helpcontents="get_help_content()" :groups="groups" :courseid="courseid" :userid="userid"></pageheader>
        <v-container pa-8>
            <v-row v-if="loading">
                <span class="mb-1 mt-5 body-1" v-text="strings.graph_generating"></span>
                <v-progress-linear indeterminate color="cyan"></v-progress-linear>
            </v-row>
            <div v-else>
                <v-alert v-if="errors.length > 0" dense outlined type="error" v-text="strings.api_error_network"></v-alert>

                <pagination
                        :pages="pages" :name="strings.pagination_name" :nameseparator="strings.pagination_separator"
                            @changepage="update_interactions" :title="strings.pagination_title"></pagination>

                <v-row class="justify-center mb-2">
                    <span v-if="render_has == 'teacher'" class="student-report-sub-title" v-text="strings.activity_inside_plataform_teacher"></span>
                    <span v-else class="student-report-sub-title" v-text="strings.activity_inside_plataform_student"></span>
                </v-row>

                <v-row>
                    <v-col sm="12" md="6">
                        <chart :container="'sessions1'" :chart="build_chart_session_by_hours()"></chart>
                    </v-col>
                    <v-col sm="12" md="6">
                        <chart :container="'sessions2'" :chart="build_chart_session_by_weeks()"></chart>
                    </v-col>
                </v-row>

                <v-row class="d-flex justify-center">
                    <v-col sm="12">

                        <v-card class="remove-shadow make-border vuetify-datatable">
                            <v-card-title>
                                <span v-text="strings.table_title"></span>
                                <v-spacer></v-spacer>
                                <v-text-field
                                        v-model="search"
                                        append-icon="search"
                                        single-line
                                        hide-details
                                        class="txt_search"
                                ></v-text-field>
                            </v-card-title>
                            <v-data-table
                                    :headers="table_headers()"
                                    :items="progress_table"
                                    :search="search" dense multi-sort
                                    :items-per-page="10"
                                    class="elevation-3"
                            >
                                <template v-slot:item.id="{ item }">
                                    <img :src="get_picture_url(item.id)" width="35px" heigth="35px" class="round-avatar"/>
                                </template>
                                <template v-slot:item.inverted_time="{ item }">
                                    <span v-text="item.inverted_time_label"></span>
                                </template>
                                <template v-slot:item.progress_percentage="{ item }">
                                    <v-tooltip bottom>
                                        <template v-slot:activator="{ on, attrs }">
                                            <span
                                                  v-bind="attrs"
                                                  v-on="on"
                                            >
                                                <v-progress-circular
                                                        :rotate="-90"
                                                        :size="45"
                                                        :width="5"
                                                        :value="item.progress_percentage"
                                                        color="primary"
                                                >
                                                    <span v-text="get_percentage_progress(item.progress_percentage)"></span>
                                                </v-progress-circular>
                                          </span>
                                        </template>
                                        <span v-text="get_progress_tooltip(item)"></span>
                                    </v-tooltip>
                                </template>

                            </v-data-table>
                        </v-card>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col sm="12">
                        <chart :container="'session_count'" :chart="build_chart_session_count()"></chart>
                    </v-col>
                </v-row>

                <v-row class="d-flex justify-center">
                    <span class="overline" v-text="get_timezone()"></span>
                </v-row>
            </div>

        </v-container>
    </v-main>
</v-app>